@charset "utf-8";


@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


// Set your brand colors
$green: #00a44e;
$red: #fb2d1f;
$gray: #31323b;
$blue: #0071ba;
$yellow: #fffa15;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $red;
$dark: $gray;
$link: $red;
$widescreen-enabled: false;
$fullhd-enabled: false;

$color-primary: $red;
$text: $gray;

$navbar-item-img-max-height: 4em;
$navbar-height: 3.5rem;

$footer-background-color: #e9e9e9;


$box-radius: 4px;


@import "../node_modules/bulma/bulma.sass";



$dark-grey: #808080;
$light-grey: #d9d9d9;


.timeline {
  margin-bottom: 5em;
  
  ul {
    padding: 1em 0 0 0;
    margin: 0;
    margin-left: 2em;
    margin-right: 1em;
    list-style: none;
    position: absolute;

    @include mobile {
      margin-left: 0em;
    }
    
    &::before {
      content: ' ';
      height: 105%;
      width: 1px;
      background-color: $light-grey;
      background: linear-gradient(0% #fff, $light-grey 10%, $light-grey 90%, #fff 100%);
      position: absolute;
      top: 0;
      left: 1.5em;
      z-index: -1;
    }
  }
  
  li div{
    display: inline-block;
    vertical-align: top;
  }
  
  .box {
    width: 100%;
  }

  .bullet {
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;    
    border-radius: 5px;
    padding: 0.4em;
    background: $white;
    z-index: 1;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 2px;
    
    font-weight: bold;
    border: 1px solid #ccc;
  }

  .bullet.circle {
    border-radius: 50%;
    margin-left: 5px;
  }

  .timeline.active {
    border: 1px solid #555;
  }

  .description {
    border: 1px solid #aaa;
    border-radius: 0.5em;
    box-shadow: 0px 0px 5px 5px #ddd;
    background-color: white;
    max-width: 30em;
  }
  
  h3 {
    font-weight: 600;
    margin: 0;
  }
  
  h4 {
    margin: 0;
  }

}